web/Project Sample/sample3/assign/all q/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Firstname"/>
              <xs:element type="xs:string" name="Lastname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Contact">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Mobile"/>
              <xs:element type="xs:string" name="Contact"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Address">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="City"/>
              <xs:element type="xs:string" name="Street"/>
              <xs:element type="xs:string" name="Tole"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>